body {
    font-family: Arial, sans-serif;
    background-color: #F5F5DC;
    text-align: center;
    padding: 70px;
}

h1 {
    color: #20a7fa;
}

p1{
    color: #1c1b1b;
}

p2{
    color: #20241e;
}