<!DOCTYPE html>
<html>

<head>
    <title> Task Manager </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1> Welcome to your task manager </h1>
<p1> In this system you can add tasks and mark them as completed when neccessary</p1><br>
</body>
<p2> Choose Your Task For Today</p2>
<form>
  <input type="radio" id="gym" name="task_choice" value="Gym">
  <label for="gym">Gym</label><br>
  <input type="radio" id="go For A Walk" name="task_choice" value="Go For A Walk">
  <label for="go For A Walk">Go For A Walk</label><br>
  <input type="radio" id="sleep" name="task_choice" value="Sleep">
  <label for="sleep">Sleep</label>
    <input type="radio" id="study" name="task_choice" value="Study">
    <label for="study">Study</label>
</form>

</html>